/**
 * General / Defaults
 */
select {
  font-size: 12pt;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: var(--uwe-secondary-dark);
  @apply bg-gray-100;
  @apply py-2;
  @apply pl-2;
  @apply border-2;
  @apply border-gray-400;
}

select:focus {
  border-color: var(--uwe-secondary);
  @apply outline-none;
  @apply bg-white;
}

.error {
  border-color: var(--uwe-primary);
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 200px;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  font-size: 12pt;
  color: var(--uwe-secondary-dark);
  line-height: 24px;
  background: var(--uwe-white);
  cursor: pointer;
}

.custom-select__trigger.active {
  border-color: var(--uwe-secondary);
  @apply border-b-0;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--uwe-white);
  @apply border-2;
  @apply border-t-0;
  border-color: var(--uwe-secondary);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
