.uwe-button {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  line-height: normal;
}

button[type="submit"],
button[type="button"] {
  background-color: var(--uwe-primary);
  color: var(--uwe-white);
  border: 1px solid var(--uwe-primary);
}

button[type="reset"] {
  background-color: var(--uwe-white);
  color: var(--uwe-black);
  border: 1px solid var(--uwe-secondary-dark);
}

button:hover {
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: var(--uwe-primary-dark);
  color: var(--uwe-white);
  border: 1px solid var(--uwe-primary-dark);
}

button[type="reset"]:hover {
  background-color: var(--uwe-secondary-dark);
  color: var(--uwe-white);
  border: 1px solid var(--uwe-secondary-dark);
}

button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}
