/** Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/** Imports */
@import "../css/grid-system.css";
@import "../css/text.css";
@import "../css/margin-padding.css";
@import "../css/general.css";
@import "../css/height-width.css";

body {
  padding: 5px;
}

/** Root - Variables & Defaults */
:root {
  /* Variables */
  --uwe-primary: rgba(227, 6, 19, 1);
  --uwe-primary-dark: rgb(172, 2, 14);

  --uwe-white: rgba(255, 255, 255, 1);
  --uwe-black: rgba(0, 0, 0, 1);
  --uwe-grey: rgba(171, 171, 171, 1);

  --uwe-secondary: rgba(20, 98, 106, 1);
  --uwe-secondary-dark: rgba(4, 62, 68, 1);
  --uwe-secondary-light: rgba(31, 128, 140, 1);

  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
