.custom-option {
  position: relative;
  display: block;
  font-size: 12pt;
  color: var(--uwe-grey);
  line-height: 24px;
  cursor: pointer;
  transition: all 0.5s;
  @apply bg-gray-100;
  @apply p-2;
  @apply border-2;
  @apply content-center;
}

.custom-option:hover {
  cursor: pointer;
  background-color: var(--uwe-grey);
  color: var(--uwe-white);
}

.custom-option.selected {
  color: #ffffff;
  background-color: var(--uwe-secondary);
}
