:host {
  width: 350px;
  height: auto;
}

.title {
  @apply mt-3;
}

.button,
.text {
  @apply mb-3;
}

.text-container {
  @apply flex;
  @apply flex-col;
}

.image-container {
  max-height: 175px;
  width: auto;
  overflow: hidden;
}

::slotted(uwe-heading) {
  @apply mt-auto !important;
  @apply mb-auto !important;
  @apply bg-white;
}

::slotted(uwe-paragraph) {
  font-size: 10pt;
  line-height: 25px;
  @apply mt-auto !important;
  @apply mb-auto !important;
  @apply bg-white;
}

.button-container {
  @apply flex;
  @apply justify-around;
}
