div {
  background-color: var(--uwe-secondary-dark);
  padding: 20px 40px 20px 40px;
  width: 100%;
}

h1 {
  font-family: "Athelas", Georgia, "Times Uwe Roman", serif;
  color: var(--uwe-white);
  font-size: 24pt;
  line-height: 40px;
  margin: 5px 0 5px 0;
}

h2 {
  font-family: "Athelas", Georgia, "Times Uwe Roman", serif;
  color: var(--uwe-secondary-dark);
  font-size: 22pt;
  line-height: 36px;
  margin: 15px 0 15px 0;
}

h3 {
  font-family: "Athelas", Georgia, "Times Uwe Roman", serif;
  color: var(--uwe-secondary-dark);
  font-size: 18pt;
  font-weight: 300;
  line-height: 30px;
  margin: 15px 0 15px 0;
}

h4 {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: var(--uwe-secondary);
  font-size: 16pt;
  line-height: 28px;
  margin: 15px 0 15px 0;
}

h5 {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: var(--uwe-secondary-light);
  font-size: 14pt;
  line-height: 24px;
  margin: 10px 0 10px 0;
}

h6 {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: var(--uwe-secondary-light);
  font-size: 12pt;
  line-height: 20px;
  margin: 10px 0 10px 0;
}
