/**
 * General / Defaults
 */
input {
  font-size: 14pt;
  color: var(--uwe-secondary);
}

input:focus {
  border-color: var(--uwe-secondary);
}

.error {
  border-color: var(--uwe-primary);
}

/**
 * Checkox & Radio
 */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:checked:after {
  content: "\2714";
  font-size: 12pt;
  color: var(--uwe-secondary);
  position: absolute;
  top: -3px;
  left: 2px;
  bottom: 0px;
  line-height: 25px;
}

/* TODO: Fix radio checked positioning - it's not perfect at the moment */
input[type="radio"]:checked:after {
  content: "\2022";
  font-size: 35pt;
  color: var(--uwe-secondary);
  position: absolute;
  top: -3px;
  left: -1px;
  line-height: 25px;
}

/**
 * Date
 */
input[type="date"] {
  text-transform: uppercase;
}
