/** 
* Grid System 
*/

/** Flex */
.uwe-row {
  @apply flex;
  @apply flex-wrap;
}

/** Standard */
.uwe-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.uwe-col-10 {
  flex: 0 0 83.3%;
  max-width: 83.3%;
}

.uwe-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.uwe-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.uwe-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.uwe-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.uwe-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.uwe-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.uwe-col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.uwe-col-1 {
  flex: 0 0 8.33333333333%;
  max-width: 8.33333333333%;
}

.uwe-col {
  flex-grow: 1;
  max-width: 100%;
}

/** Small Screens - 640px breakpoint */
@screen sm {
  .uwe-sm-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .uwe-sm-col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }

  .uwe-sm-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .uwe-sm-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .uwe-sm-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .uwe-sm-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .uwe-sm-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .uwe-sm-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .uwe-sm-col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .uwe-sm-col-1 {
    flex: 0 0 8.33333333333%;
    max-width: 8.33333333333%;
  }

  .uwe-sm-col {
    flex-grow: 1;
    max-width: 100%;
  }
}

/** Medium Screens - 768px breakpoint */
@screen md {
  .uwe-md-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .uwe-md-col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }

  .uwe-md-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .uwe-md-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .uwe-md-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .uwe-md-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .uwe-md-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .uwe-md-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .uwe-md-col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .uwe-md-col-1 {
    flex: 0 0 8.33333333333%;
    max-width: 8.33333333333%;
  }

  .uwe-md-col {
    flex-grow: 1;
    max-width: 100%;
  }
}

/** Medium Screens - 1024px breakpoint */
@screen lg {
  .uwe-lg-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .uwe-lg-col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }

  .uwe-lg-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .uwe-lg-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .uwe-lg-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .uwe-lg-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .uwe-lg-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .uwe-lg-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .uwe-lg-col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .uwe-lg-col-1 {
    flex: 0 0 8.33333333333%;
    max-width: 8.33333333333%;
  }

  .uwe-lg-col {
    flex-grow: 1;
    max-width: 100%;
  }
}

/** Medium Screens - 1280px breakpoint */
@screen xl {
  .uwe-xl-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .uwe-xl-col-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }

  .uwe-xl-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .uwe-xl-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .uwe-xl-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .uwe-xl-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .uwe-xl-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .uwe-xl-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .uwe-xl-col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .uwe-xl-col-1 {
    flex: 0 0 8.33333333333%;
    max-width: 8.33333333333%;
  }

  .uwe-xl-col {
    flex-grow: 1;
    max-width: 100%;
  }
}
