/* Height */
.uwe-h-0 {
  height: 0%;
}

.uwe-h-10 {
  height: 10%;
}

.uwe-h-20 {
  height: 20%;
}

.uwe-h-30 {
  height: 30%;
}

.uwe-h-33 {
  height: 33.333333%;
}

.uwe-h-40 {
  height: 40%;
}

.uwe-h-50 {
  height: 50%;
}

.uwe-h-60 {
  height: 60%;
}

.uwe-h-66 {
  height: 66.666667%;
}

.uwe-h-70 {
  height: 70%;
}

.uwe-h-80 {
  height: 80%;
}

.uwe-h-90 {
  height: 90%;
}

.uwe-h-100 {
  height: 100%;
}
