/**
 * General / Defaults
 */
textarea {
  font-size: 12pt;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  color: var(--uwe-secondary-dark);
  @apply bg-gray-100;
  @apply py-2;
  @apply pl-2;
  @apply border-2;
  @apply border-gray-400;
}

textarea:focus {
  border-color: var(--uwe-secondary);
  @apply outline-none;
  @apply bg-white;
}

.error {
  border-color: var(--uwe-primary);
}
